DataScienceEcosystem.ipynb

<h1>Data Science Tools and Ecosystem</h1>

<h3>In this notebook, Data Science Tools and Ecosystem are summarized.</h3>

__Objectives:__<br>
- List popular languages for Data Science<br>
- List of commonly used libraries for Data Scientists<br>
- Unstanding formating of Juypter Notebooks<br>

<h4>Some of the popular languages that Data Scientists use are:</h4>

1. Python
2. R
3. Julia

<h4>Some of the commonly used libraries used by Data Scientists include:</h4>

1. Pandas
2. Sciphy
3. Keras


| Data Science Tools|
|-----|
| RStudio | 
|Apache Spark|
|TensorFlow |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

1. $x = x + y$ <br>
2. $x = x * y$

In [4]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [22]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
print("%02d:%02d" % (divmod(minutes, 60)))

03:20

<h2>Author</h2>
Brian Britten